<header>
  <div class="container">
    <a href="#" class="logo header">Apollo <mat-icon class="icon-logo">wb_incandescent</mat-icon></a>
    <nav>
      <ul class="nav">
        <li><a href="#" routerLink="/" class="header ul">Home</a></li>
        <li><a href="#" routerLink="/class" class="header ul">Class</a></li>
        <!--<li><a href="#" routerlink="/Grades">Grades</a></li>-->
      </ul>
    </nav>
  </div>
</header>

<div class="container" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>