a {
	color: black;
	text-decoration: none;
	font-size: 30px;
}


h1 {
	color: black;
	font-size: 35px;
	padding-bottom: 20px;
}
h2 {
	color: black;
	text-align: center;
}
h3 {
	color: black;
	font-size: 30px;
}

.quiz-card {
	max-width: 400px;
	cursor: pointer;
	background: #CFCFCF;
	text-align: center;
}

